@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

body{
    display: flex;
    justify-content: center; 
    align-items: center;
    background: url('../Assets/math-1.webp') center center/cover;
    margin: 0;
    top: 0;
}